<div class="flex-container">
  <div *ngFor="let product of products" class="card flex-column" style="width: 18rem; margin: 10px;">
    <img class="card-img-top" src="..." alt="{{ product.name }} image">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>

      <div class="product-actions" style="margin-top: 10px;">
        <button class="btn">
          <img src="assets/icons/like-icon.svg" alt="Command 1" width="20" height="20" />
        </button>
        <button class="btn">
          <img src="assets/icons/chat-icon.svg" alt="Command 2" width="20" height="20" />
        </button>
      </div>
      
    </div>
  </div>
</div>


<!-- Pagination Controls -->

<div class="paginator-wrapper">
  <mat-paginator
    [length]="totalProducts"
    [pageSize]="pageRequestDTO.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
