.container {
  display: flex;
}

.column {
  flex: 1;
  // padding: 10px;
  // border: 1px solid black;
}

.action-center {
  display: flex;
}

.ac-col {
  flex: 1;
  // padding: 10px;
  // border: 1px solid black;
}
