
<!-- MAIN  -->

<div class="container">
  <div class="column">
    <div class="action-center">

      <div class="ac-col">
        <input type="text" value="search">
      </div>

      <div class="ac-col">
        <ng-multiselect-dropdown
          [placeholder]="'Categories'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
      
    </div>

    
  </div>
  <div class="column">
    <!--  -->
  </div>
</div>

<!-- Product List -->

<app-products></app-products>

